body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg, rgba(0, 4, 15, 1) 0%, rgba(0, 15, 56, 1) 100%) no-repeat;
}

#game-container > h1 {
    color: var(--light-text);
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    user-select: none;
    -webkit-user-select: none;
}

#board-wrapper {
    position: relative;
    width: 420px;
    height: 420px;
}

#board-wrapper table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#board-grid {
    border-collapse: collapse;
}

td {
    border: 4px solid var(--light-text);
}

#board-grid {
    background: linear-gradient(300deg, rgba(0, 4, 15, 1) 0%, rgba(0, 15, 56, 1) 100%);
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.24);
}

#stone-grid td {
    border: none;
    transform: scale(75%);
    transform-origin: center;
    border-radius: 100%;
    cursor: pointer;
}

#stone-grid td:not(.stone, .inactive) {
    background-color: transparent;
    filter: none;
    transition: background-color 0.2s ease-in, filter 0.2s ease-in;
}

#stone-grid td:not(.stone, .inactive):hover {
    background-color: rgb(93, 158, 255, 0.15);
    filter: blur(16px);
}

.stone {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    cursor: default !important;
    animation: stone-appear 0.15s forwards ease-in;
}

.white-stone {
    background: linear-gradient(120deg, rgba(255, 238, 203, 1) 0%, rgba(204, 187, 152, 1) 100%);
}

@keyframes stone-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.black-stone {
    background: linear-gradient(120deg, rgb(17, 43, 117) 0%, rgb(18, 40, 99) 100%);
}

#controls {
    padding: 35px;
}

#controls > button {
    width: 9em;
    height: 2.35em;
    border: none;
    border-radius: 18px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    font-family: "Funnel Display", sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    margin-right: 10px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: transform 50ms ease-in, filter 50ms ease-in;
}

#controls > button:last-child {
    margin-right: 0;
}

#controls > button:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

#controls > button:active {
    transform: scale(0.97);
    filter: brightness(0.9);
}

#controls > #pass-turn {
    color: var(--light-text);
    background: linear-gradient(120deg, rgb(156, 138, 78) 0%, rgb(129, 114, 65) 100%);
}

#controls > #finish-game {
    color: var(--light-text);
    background: linear-gradient(120deg, rgb(156, 78, 92) 0%, rgb(140, 67, 80) 100%);
}